.box {
  display: grid;
  gap: 5px;
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius: 22px;
}

.title {
  color: var(--color-brand-900);
  font-size: 17px;
}

.text {
  color: var(--color-text-subtle);
  font-size: 14px;
}
